
<body style="background-color:silver;text-align:center;">
   <h1 style="background-color:p;text-align:center;font-family:courier; background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;">MovieFLIX
<h2>
  {% if login == "admin" : %}
<h3>See Movie Comments</h3>
<form method="post">
    <p>
       <input type="text" name="title" placeholder="Title of Movie" required="required" />
       </p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Search</button>
</form>
{% elif login == "user": %}
<h4>
<form method="post">
    <p>
       <input type="text" name="title" placeholder="Title of Movie" required="required" />
       </p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Search</button>
</form>
</h4>

{% elif login == "none": %}
<h4 style="color:red;">
You must login to see comments!
</h4>
{% endif %}

</h2>
<h2>
{% if status == "not_found": %}
	<h4 style="color:red;"> 
    Movie not found
	
	</h4>

        
{% elif status == "error": %}
<h4 style="color:red;">
    An error has occured
    </h4>
{% endif %}

</h2>
