<body style="background-color:silver;text-align:center;">
   <h1 style="background-color:p;text-align:center;font-family:courier; background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;">MovieFLIX

<h3>Delete User</h3>

<h2>
{% if login == "admin": %}
<form method="post">
    <p>
		<input type="text" name="email" placeholder="email of user" required="required" />
       </p>
       <button type="submit" class="btn btn-primary btn-block btn-large">Delete</button>
</form>

{% elif login == "user": %}
<h4>
Are you sure you want to delete your account?
</h4>
<form method="post">
    <p>
		<input type="text" name="response" placeholder="yes or no" required="required" />
       </p>
       <button type="submit" class="btn btn-primary btn-block btn-large">OK</button>
</form>

{% elif login == "none": %}
<h4 style="color:red;">You must login to delete users!</h4>
 <form action="http://localhost:5000/user_login">
    <input type="submit" value="Go to Login" />
</form>
{% endif %}
</h2>

<h2>
{% if status == "success": %}
<h4 style="color:green;">
User deleted successfully!!
</h4>
{% elif status == "deleted": %}
<h4 style="color:green;">
Account deleted successfully!!
 
</h4>
{% elif status == "user_not_found": %}

<h4 style="color:red;">
User not found!!
</h4>

{% elif status == "cant_del_admin": %}
<h4 style="color:red;">
You cant delete an administrator!
</h4>
{% elif status == "error": %}
<h4 style="color:red;">
An error has occured!
</h4>
{% elif status == "not_admin": %}
<h4 style="color:red;">
You are not administrator!!
</h4>
{% endif %}

</h2>
</body>
