</form>
<body style="background-color:silver;text-align:center;">
   <h1 style="background-color:p;text-align:center;font-family:courier; background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;">MovieFLIX
{% if login == "admin" %}

<h3>Add a new User</h3>
<form method="post">
    <p>
       <input type="text" name="email" placeholder="Email" required="required" />
       </p>
        <p>
       <input type="text" name="name" placeholder="Name" required="required" />
       </p>
       
    <p>
    <input type="password" name="password" placeholder="Password" required="required" /> 
    </p>
        <button type="submit" class="btn btn-primary btn-block btn-large">OK</button>
</form>
<h2>
{% if status == "email_exists": %}
	<h4 style="color:red;"> 
    email already exists
	
	</h4>

        
{% elif status == "null": %}
	<h4 style="color:red;"> 
    Please fill all the fields
	</h4>
{% elif status == "error": %}
	<h4 style="color:red;"> 
    An error has occured. Try again!
	</h4>
{% elif status == "registered": %}
	<h4 style="color:green;"> 
    Registered Succefully! Try login!
    
	</h4>
    <form action="http://localhost:5000/user_login">
    <input type="submit" value="Go to Login" />
</form>
{% endif %}

</h2>

{% else %}
<h3>REGISTER</h3>
<form method="post">
    <p>
       <input type="text" name="email" placeholder="Email" required="required" />
       </p>
        <p>
       <input type="text" name="name" placeholder="Name" required="required" />
       </p>
       
    <p>
    <input type="password" name="password" placeholder="Password" required="required" /> 
    </p>
        <button type="submit" class="btn btn-primary btn-block btn-large">OK</button>
</form>
<h2>
{% if status == "email_exists": %}
	<h4 style="color:red;"> 
    email already exists
	
	</h4>

        
{% elif status == "null": %}
	<h4 style="color:red;"> 
    Please fill all the fields
	</h4>
{% elif status == "error": %}
	<h4 style="color:red;"> 
    An error has occured. Try again!
	</h4>
{% elif status == "registered": %}
	<h4 style="color:green;"> 
    Registered Succefully! Try login!
    
	</h4>
    <form action="http://localhost:5000/user_login">
    <input type="submit" value="Go to Login" />
</form>
{% endif %}
{% endif %}
</h2>
